<div class="factory-container centered" (click)="this.showMachines = !showMachines">{{ factory.name }}</div>
<ng-container *ngIf="showMachines">
  <ng-container *ngIf="factory.machines.length > 0; else noMachines">
    <div *ngFor="let machine of factory.machines">
      <ng-container *ngIf="user$ | async as user">
        <app-machine [machine]="machine" [user]="user"></app-machine>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noMachines>
    <div class="no-machine-found">No machines found.</div>
  </ng-template>
</ng-container>

