<header-component></header-component>
<h1>Account</h1>

<div *ngIf="!editMode">
  <div *ngIf=" user$ | async as asyncUser ">
    <table style="font-size: 16px; margin: 0 auto; text-align: left">
      <tr>
        <td>Username :</td>
        <td>{{asyncUser.username | titlecase}}</td>
      </tr>
      <tr>
        <td>Name :</td>
        <td>{{asyncUser.firstName | titlecase}}</td>
      </tr>
      <tr>
        <td>Surname :</td>
        <td>{{asyncUser.lastName | titlecase}}</td>
      </tr>
      <tr>
        <td>Email :</td>
        <td>{{asyncUser.email | titlecase}}</td>
      </tr>
      <tr>
        <td>Role :</td>
        <td>{{asyncUser.role}}</td>
      </tr>
      <tr>
        <td>Status :</td>
        <td>{{asyncUser.status}}</td>
      </tr>
      <tr>
        <td>Factory :</td>
        <td>
          <div *ngIf=" factory$ | async as factory "> {{factory.name}} </div>
        </td>
      </tr>
      <tr>
        <td>Notification type :</td>
        <td style="font-style: italic"> TODO</td>
      </tr>
      <tr>
        <td>Notification destination :</td>
        <td style="font-style: italic"> TODO</td>
      </tr>
    </table>
    <button mat-flat-button color="primary" (click)=" this.editMode = true ">edit</button>
  </div>
</div>

<div *ngIf="editMode">
  <form (ngSubmit)="updateUser()">
    <mat-form-field appearance="outline">
      <mat-label>username:</mat-label>
      <input matInput placeholder="..." [(ngModel)]="this.toUpdate.username" name="username">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>name:</mat-label>
      <input matInput placeholder="..." [(ngModel)]="this.toUpdate.firstName" name="name">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>surname:</mat-label>
      <input matInput placeholder="..." [(ngModel)]="this.toUpdate.lastName" name="surname">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>email:</mat-label>
      <input matInput placeholder="..." [(ngModel)]="this.toUpdate.email" name="email">
    </mat-form-field>
    <div *ngIf="this.errorList != null">
      <div *ngFor="let error of errorList.response" style="color: #ca5980">
        <div>{{error.field}} :
          <div *ngFor="let err of error.errors" style="color: #4c4c4c">
            {{err.text}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <button mat-flat-button color="primary" (click)="cancelUpdate()" style="margin-right: 10px">back</button>
      <button mat-flat-button color="primary" type="submit">save</button>
    </div>
  </form>
</div>

