<header-component></header-component>

<div *ngIf="!editMode">
  <ng-container *ngIf="user$ | async as user">
    <ng-container *ngIf="user.role === role.ADMIN">
      <button mat-flat-button color="primary" (click)="deleteMachine()" class="button">delete</button>
      <button mat-flat-button color="primary" (click)="this.editMode = true" class="button">edit</button>
      <button mat-flat-button color="primary" [routerLink]="['/sensors/add_sensor', {id: id}]" class="button">add sensor</button>
    </ng-container>
  </ng-container>

  <div *ngIf="machine$ | async as machine">
    <div class=" machine-name">
      {{ machine.name }}
    </div>
    <div *ngFor="let sensor of machine.sensors">
      <app-sensor [sensor]="sensor"></app-sensor>
    </div>
  </div>
</div>

<div *ngIf="editMode">
  <form (ngSubmit)="updateMachine()">

    <mat-form-field appearance="outline">
      <mat-label>name:</mat-label>
      <input matInput placeholder="..." [(ngModel)]="machineToUpdate.name" name="name">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>model:</mat-label>
      <input matInput placeholder="..." [(ngModel)]="machineToUpdate.model" name="model">
    </mat-form-field>
    <br/>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Type:</mat-label>
      <mat-select [(ngModel)]="machineToUpdate.type" name="type">
        <mat-option *ngFor="let type of machineType | keyvalue" [value]="type.value">{{ type.value }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Factory:</mat-label>
      <mat-select [(value)]="machineToUpdate.factoryId">
        <mat-option [value]="factory.id" *ngFor="let factory of factories$ | async" >{{ factory.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="this.errorList != null">
      <div *ngFor="let error of errorList.response" style="color: #ca5980">
        <div>{{error.field}} :
          <div *ngFor="let err of error.errors" style="color: #4c4c4c">
            {{err.text}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <button mat-flat-button color="primary" (click)="cancelUpdate()" style="margin-right: 10px" class="button">back</button>
      <button mat-flat-button color="primary" (click)="updateMachine()" class="button">update</button>
    </div>
  </form>
</div>

